body {
    margin: 0;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    font-family: 'Cormorant Garamond', serif;
}

h2{
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

.container {
    max-width: 1330px;
    padding: 0 15px;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header {
    background: #333333;
    position: relative;
}

.nav-list {
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1;
}


.nav-list a {
    display: inline-block;
    padding: 35px 40px;
    color: white;
    text-decoration: none;
    position: relative;
    margin: 0 0 0 35px;
}

a:hover{
    color: red;
    background: #01070a;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.items {
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 90%;
    height: auto;
    margin: auto;
}

.column {
    width: 50%;
    margin: 10px;
}

.teg {
    display: inline-block;
    background: #e0d8d8;
}

